.card-head {
    margin:268px 0px
}

.img{
    height: 300px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text input {
    width: 50%;
}