
.list-todo-content {
    width: 400px;
    margin: 0 auto;
}
button {
    cursor: pointer;
}

.todo-child {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: space-between;
    align-items: center;

    height: 60px;
    border-bottom: 1px solid grey;
    margin: 10px;
}
.todo-child:first-child {
    border-top: 1px solid grey;
}
.edit{
    margin: 0 10px;
}
.add {
    margin: 0 10px;
}
