.get-started {
    background: green;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
    line-height: 2.3;
}
.title-1{
    color: green;
    font-weight: 500;
    font-size: 30px;
}
.title-2{
    color: blue;
    font-weight: 500;
    font-size: 30px;
}